<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/photo.jpeg" alt="my_photo">
<p>
      My name is Raghav Gupta, and I am a Computer Science Engineering (CSE – Core) undergraduate at VIT Bhopal University, Bhopal, currently maintaining a strong GPA of 9.26. I am based in Saharanpur, Uttar Pradesh, and I am deeply passionate about technology, problem-solving, and building impactful software solutions. With a solid academic foundation and a consistent drive to learn, I actively focus on applying theoretical concepts to real-world use cases.
  </p>
    
  <p>
      My technical skill set includes Data Structures and Algorithms in C++, Generative AI, and full-stack web development, with proficiency in HTML, CSS, JavaScript on the frontend and Node.js (Express) on the backend. Beyond academics, I enjoy playing cricket and badminton, solving DSA problems, developing real-world projects, and reading about mythological topics. I also value collaboration and communication, often spending time discussing ideas and learning with friends, which helps me grow both personally and professionally.
    </p>

  <%- include("partials/footer.ejs") %>